<header>
    <ul>
        <li>
            <a href="/"
                {{#if_eq path '/'}}
                    class="active"
                {{/if_eq}} 
            >Home</a>
        </li>
        <li>
            <a href="/about"
                {{#if_eq path '/about'}}
                    class="active"
                {{/if_eq}} 
            >About</a>
        </li>
        <li>
            <a href="/help"
                {{#if_eq path '/help'}}
                    class="active"
                {{/if_eq}} 
            >About</a>
        </li>
    </ul>

</header>